*{
    text-decoration:none;
    color:white;
}

.platform{
    color:rgb(194, 31, 31);
    margin:auto 20px auto 20px;
    height:370px;
    min-width: 300px;
    background-color:rgb(36, 37, 35);
    opacity: 0.9;
    border-radius: 20px;
    padding-left:50px;
}
.profiles{
    cursor:pointer;
    display:flex;
    justify-content: space-around;
    height: 500px;
    /* animation: marquee 10s linear infinite; */
}
.profiles.in-view{
    animation: marquee 15s linear infinite;
}
.profiles:hover{
    animation-play-state: paused;
}
.platform:hover{
    border:1px solid white;
    box-shadow: 1px 1px 10px white;
}
@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-125%, 0);
    }
}
.profsec{
    background-color:rgb(0, 0, 0);
    margin-left:-20px;
    margin-right:-40px;
    min-height: 400px;
    padding:1%;
    overflow:hidden;
}

section div{
    margin:20px;
}
section{
    display: flex;
    justify-content: space-around;
    margin:80px;
    align-items:center ;
    text-shadow:2px 2px 20px black;
}
body{
    background-image:url('back.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
nav{
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items:center;
    border-bottom:3px solid black;
}
#myresume{
    margin-left:3vw;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#links{
    display:flex;
    margin-right:3vw;
}
.home{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity:0.5;
    margin:17px;
}
.home:hover{
    opacity:1;
    cursor:pointer;
    color:white;
    text-shadow:2px 2px 20px black;
}
#zafarimg{
    align-items: center;
}
#img{
    border-radius: 50%;
    transition-duration: 1s;
}
#img:hover{
    transform: scale(1.1);
}
.desc{
    max-width: 800px;
}