*{
    text-decoration:none;
    color:white;
}
zaf{
    color:rgb(255, 181, 70);
    font-size: 23px;
}
strong{
    font-size: 20px;
    color:rgb(0, 225, 255);
    animation-name: special;
    animation-duration: 6s;
}
@keyframes special {
    0%{
        opacity: 0;
        color:rgb(40, 43, 35);
    }
    100%{
        opacity: 1;
    }
}
#download{
    color:white;
    background-color: rgba(0, 30, 227, 0.038);
    padding:20px 30px;
    border:3px solid white;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor:pointer;
}
#download:hover{
    background-color:rgb(9, 1, 11);
}
.platform{
    margin:30px 0.5% 60px 0.5%;
    height:400px;
    min-width: 300px;
    background-color:rgb(36, 37, 35);
    opacity: 0.9;
    border-radius: 20px;
    padding-left:50px;
    /* border:3px solid rgb(95, 130, 244); */
}
.platform:hover{
    border:3px solid rgb(95, 130, 244);
    box-shadow: 1px 1px 40px  rgb(95, 130, 244);
    transform:scale(1.1);
}
/* rgb(95, 130, 244); */
/* rgba(198,54,236,1) */
.profiles{
    cursor:pointer;
    display:flex;
    gap: 2px;
    width: max-content;
    /* animation: marquee 10s linear infinite; */
}
.profiles.in-view{
    animation: marquee 10s linear infinite;
}
.profiles:hover{
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-55%, 0);
    }
}
.profsec{
    background-color:rgb(0, 0, 0);
    margin-left:-8px;
    margin-right:-8px;
    padding:1%;
    overflow:hidden;
    height: 550px;
}
.profsec h1{
    margin:10px 40px;
    font-size:30px;
    color:rgba(198,54,236,1);
}
#section1 div{
    margin:20px;
}
#section1{
    display: flex;
    justify-content: space-around;
    margin:80px;
    align-items:center ;
    text-shadow:2px 2px 20px black;
}
body{
    /* background-image:url('back.webp'); */
    /* background: rgb(198,54,236); */
    background: linear-gradient(131deg, rgba(198,54,236,1) 6%, rgba(31,68,188,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    animation-name: special;
    animation-duration: 3s;
    color:white;
}
nav{
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items:center;
    border-bottom:3px solid black;
}
#myresume{
    margin-left:3vw;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor:pointer;
}
#links{
    display:flex;
    margin-right:3vw;
}
.home{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity:0.5;
    margin:17px;
}
.home:hover{
    opacity:1;
    cursor:pointer;
    color:white;
    text-shadow:2px 2px 20px black;
}
#zafarimg{
    align-items: center;
    animation: zafar 3s linear infinite;
}
@keyframes zafar {
    
    0%{
        transform:translateX(2%);
        transform:translateY(2%);
    }
    40%{
        transform:translateY(2%);
        transform:translateX(2%);
    }
    70%{
        transform:translateY(4%);
        transform:translateX(4%);
    }
    100%{
        transform:translateX(2%);
        transform:translateY(2%);
    }
}
#zafarimg:hover{
    animation-play-state: paused;
}
#img{
    transition-duration: 1s;
}
#img:hover{
    transform: scale(1.1);
}
.desc{
    max-width: 800px;
}
h4{
    font-weight: 100;
}
#icon p{
    font-size: 20px;
}
#icon{
    text-align: center;
    align-items: center;
    height: min(20vw,70px);
    width: min(20vw,70px);
    background-color: rgb(14, 4, 6);
    position: fixed;
    bottom: 40px;
    right:40px;
    border-radius: 50%;
    z-index:2;
    border:3px solid rgb(70, 70, 241);
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    display: block;
}
#chat{
    bottom: min(40px,5vh);
    right:min(40px,5vw);
    min-height:min(400px,100%);
    width:min(300px,100%);
    box-shadow: 1px 1px 10px black;
    position:fixed;
    z-index: 2;
    display:none;
    border-radius:9px;
}
#top{
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width:inherit;
}
#messagesbox{
    background-image: linear-gradient(135deg, #C2FFD8 10%, #465EFB 100%);
    height:298px;
    overflow-y: scroll;
    scrollbar-width: none;
    width:inherit;
    word-wrap: break-word;
    overflow-wrap:break-word;
}
#bottom{
    position: fixed;
    height: 39px;
    width:inherit;
}
#bottom form{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#cross{
    cursor: pointer;
    font-size: 26px;
    margin-right:10%;
}
#head{
    font-weight: 1000;
    /* font-size: 24px; */
    margin-left:10%;
}
#message{
    height: 39px;
    width:100%;
    color:black;
    border:0px;
}
#message:focus{
    outline: none;
    box-shadow: 1px 1px 10px black;
}
#button{
    color:white;
    background-color: black;
    position: absolute;
    right:0px;
    border:0px;
    margin-right: 5px;
    border-radius: 50%;
    opacity: 0.7;
}
#button i{
    padding:9px 5px;
    text-shadow: 1px 1px 10px black;
}
#button:hover{
    opacity:1;
}
#button i:hover{
    animation-name:rocket;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes rocket{
    0%{

    }
    30%{
        transform: rotate(40deg);
    }
    70%{
        transform:translateX(20px);
    }
    100%{
        transform:none;
    }
}
.user-message{
    /* text-align:end; */
    font-size: small;
    background-color: black;
    /* max-width:18vw; */
    margin:3px;
    margin-left:40px;
    border-radius: 5px;
    padding:15px;
}
.bot-message{
    /* text-align:end; */
    font-size: small;
    background-color: rgb(95, 130, 244);
    /* max-width:18vw; */
    margin:3px;
    margin-right:40px;
    border-radius: 5px;
    padding:15px;
}