*{
    text-decoration:none;
    color:white;
}
strong{
    font-size: 20px;
    color:rgb(95, 130, 244);
}
#download{
    background-color: rgba(0, 30, 227, 0.038);
    padding:20px 30px;
    border:3px solid white;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor:pointer;
}
#download:hover{
    background-color:rgb(9, 1, 11);
}
.platform{
    color:rgb(194, 31, 31);
    margin:auto 20px auto 20px;
    height:370px;
    min-width: 300px;
    background-color:rgb(36, 37, 35);
    opacity: 0.9;
    border-radius: 20px;
    padding-left:50px;
    border:3px solid rgba(198,54,236,1);
}
.platform:hover{
    border:3px solid rgba(198,54,236,1);
    box-shadow: 1px 1px 40px  rgb(95, 130, 244);
}
/* rgb(95, 130, 244); */
/* rgba(198,54,236,1) */
.profiles{
    cursor:pointer;
    display:flex;
    height: 500px;
    gap: 2px;
    width: max-content;
    /* animation: marquee 10s linear infinite; */
}
.profiles.in-view{
    animation: marquee 10s linear infinite;
}
.profiles:hover{
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
.profsec{
    background-color:rgb(0, 0, 0);
    margin-left:-20px;
    margin-right:-40px;
    min-height: 400px;
    padding:1%;
    overflow:hidden;
}
.profsec h1{
    margin:20px 40px;
    font-size:30px;
    color:rgba(198,54,236,1);
}
section div{
    margin:20px;
}
section{
    display: flex;
    justify-content: space-around;
    margin:80px;
    align-items:center ;
    text-shadow:2px 2px 20px black;
}
body{
    /* background-image:url('back.webp'); */
    /* background: rgb(198,54,236); */
background: linear-gradient(131deg, rgba(198,54,236,1) 0%, rgba(31,68,188,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
nav{
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items:center;
    border-bottom:3px solid black;
}
#myresume{
    margin-left:3vw;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor:pointer;
}
#links{
    display:flex;
    margin-right:3vw;
}
.home{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity:0.5;
    margin:17px;
}
.home:hover{
    opacity:1;
    cursor:pointer;
    color:white;
    text-shadow:2px 2px 20px black;
}
#zafarimg{
    align-items: center;
}
#img{
    transition-duration: 1s;
}
#img:hover{
    transform: scale(1.1);
}
.desc{
    max-width: 800px;
}