<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mohammed Abdul Zafar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="{% static 'index.js' %}"></script>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity>
    </head>
    <body>
        <nav>
            <div id='Myresume'><h1>My Resume</h1></div>
            <div id='Links'>
                <div class='home'>Home</div>
                <div class='home'>Projects</div>
                <div class='home'>Certificates</div>
                <div class='home'>Contact</div>
            </div>
        </nav>
        <section>
            <div id='zafarimg'><img id='img'src= "{% static 'zafar.jpg'%}" width='300px' height='400px'></img></div>
            <div class='desc'>
                <h1>Mohammed Abdul Zafar</h1>
                <p>I am Mohammed Abdul Zafar from Tuni, Andhra Pradesh, a passionate programmer with strong problem-solving skills. I have a <strong>1700+ rating on LeetCode</strong> with <strong>200+ problems</strong> solved and a <strong>3-star rating on CodeChef</strong>. My expertise lies in <strong>C++</strong>, <strong>Python</strong>, <strong>SQL</strong>, and <strong>Django</strong>, and I have successfully developed some Django project. Currently, I am expanding my knowledge by learning <strong>AWS, Docker, React, and GitHub</strong>. Alongside my technical journey, I also hold an NCC 'A' Certificate, showcasing my discipline and leadership skills. I am highly enthusiastic about competitive programming, web development, and cloud technologies</p>
                <a href="./static/zafar.jpg" download><button id="download">Download CV <i class="fa-solid fa-download"></i></button></a>
            </div>
        </section>
        <div class="profsec">
            <h1>Profiles</h1>
                <div class='profiles'>
                    <div class="platform">
                        <img src="{% static 'leetcode.png'%}" width="200px" height="90px" style="margin:10px auto -19px;">
                        <p>
                            <h4>Contest Rating : <zaf>1660+</zaf></h4>
                            <h4>Global Ranking: <zaf>100,107+</zaf></h4>
                            <h4>Questions Solved : <zaf>215+</zaf></h4>
                            <a href="https://leetcode.com/u/Md_Abdul_Zafar/"><h4>Click Here For A Visit</h4></a>
                        </p>
                    </div>
                    <div class="platform">
                        <img src="{% static 'github.png'%}" width="150px" height="50px" style="margin:29px auto -10px auto;">
                        <p>
                            <h4>Projects Done: <zaf>2</zaf></h4>
                            <h4>Frontend : <zaf>HTML, CSS , JS</zaf></h4>
                            <h4>Backend : <zaf>Django</zaf></h4>
                            <h4>DataBase : <zaf>SQL</zaf></h4>
                            <a href="https://github.com/zafarabdul"><h4>Click Here For A Visit</h4></a>
                        </p>
                    </div>
                    <div class="platform">
                        <img src="{% static 'codechef.png'%}" width="200px" height="90px" style="margin:2px auto -10px auto;">
                        <p>
                            <h4>Highest Rating : <zaf>1491+</zaf></h4>
                            <h4>Global Ranking: <zaf>100,107+</zaf></h4>
                            <h4>Questions Solved : <zaf>100+</zaf></h4>
                            <a href="https://codechef.com/users/zafarabdul/"><h4>Click Here For A Visit</h4></a>
                        </p>
                    </div>
                    <div class="platform">
                        <img src="{% static 'codeforces.png'%}" width="240px" height="46px" style="margin:29px auto 11px auto;">
                        <p>
                            <h4>Highest Rating : <zaf>1083+</zaf></h4>
                            <h4>Global Ranking: <zaf>59,331</zaf></h4>
                            <h4>Questions Solved : <zaf>20+</zaf></h4>
                            <a href="https://codeforces.com/profile/zafar_abdul"><h4>Click Here For A Visit</h4></a>
                        </p>
                    </div>
                    <div class="platform">
                        <img src="{% static 'linkedin.png'%}" width="200px" height="90px" style="margin:19px auto -20px auto;">
                        <p>
                            <h4>Connections : <zaf>225+</zaf></h4>
                            <a href="https://www.linkedin.com/in/md-abdul-zafar/"><h4>Click Here For A Visit</h4></a>
                        </p>
                    </div>
                    
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            
    </body>
</html>
